[Unit]
Description=bot-service-akka

[Service]
User=bot
# The configuration file application.properties should be here:
WorkingDirectory=/opt/BartenderDeploy/ 
ExecStart=/opt/BartenderDeploy/bin/boot

SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
